dialog.dialog-reserve
    .calendar-container
        input(type="date" id="datePicker")
    .user-container
        input(type="text" id="reserverName" placeholder="Имя читателя")
    .button-container
        button(type="button" class="confirm-reserve-button") Выдать
        button(type="button" class="cancel-reserve-button") Отмена