dialog.dialog-reserver
    .dialog-content
        label(for="reserveDate") Дата выдачи:
        input(type="date" id="reserveDate" name="reserveDate", readonly=)
        label(for="returnDate") Дата сдачи:
        input(type="date" id="returnDate", readonly=)
        label(for="userName") Имя пользователя:
        input(type="text" id="userName" name="userName", readonly=)
        button(type="button" class="close-button") Закрыть