dialog.dialog-return
    h2 Возврат книги
        p Вы уверены, что хотите вернуть эту книгу?
        .buttons
            button(type="button" class="confirm-return-button") Да
            button(type="button" class="cancel-return-button") Отмена