body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 0;
    text-align: center;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px;
    align-items: center;
}

.book-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.book-container img.book-cover {
    height: 300px;
    object-fit: contain;
}

.book-details {
    margin-top: 10px;
}

.book-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.book-author,
.book-year,
.book-reseved {
    font-size: 1em;
    margin: 5px 0;
}


.book-details {
    margin-top: 10px;
}

.bookWrapper-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

button.button-add {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.button-add {
    background-color: #4caf50;
}

button.button-add:hover {
    background-color: #45a049;
}

button.button-add i.fas.fa-plus {
    font-size: 16px;
    margin-left: 10px;
}

.sort-container {
    text-align: center;
    margin-bottom: 20px;
}

.sort-select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.functional {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff3333;
    color: #fff;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

.delete-button:hover {
    background-color: #ff0000;
}

button.delete-button i.fas.fa-trash {
    font-size: 16px;
    margin-left: 10px;
}

.dialog-add {
    position: fixed;
    top: 20%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 2;
}

.dialog-add form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-add input[type="text"],
.dialog-add input[type="file"],
.dialog-add input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.dialog-add button#saveButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.dialog-add button#saveButton i.fas.fa-save {
    font-size: 16px;
    margin-left: 10px;
}

.dialog-add button#saveButton:hover {
    background-color: #45a049;
}

.dialog-add input:focus {
    box-shadow: none;
    outline: 2px solid #4caf50;
}

.dialog-add {
    overflow: visible;
}

.dialog-add .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ddd;
}

.invalid-input {
    border: 2px solid red;
    background-color: #FFECEC;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.confirm-dialog {
    position: fixed;
    top: 20%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 4;
}

.confirm-dialog h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.confirm-dialog p {
    font-size: 1em;
    margin-bottom: 20px;
}

.confirm-dialog .buttons {
    display: flex;
    justify-content: center;
}

.confirm-dialog .buttons button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.confirm-dialog .buttons .confirm-button {
    background-color: #4caf50;
}

.confirm-dialog .buttons .confirm-button:hover {
    background-color: #45a049;
}

.confirm-dialog .buttons .cancel-button {
    background-color: #ff3333;
}

.confirm-dialog .buttons .cancel-button:hover {
    background-color: #ff0000;
}

