dialog.confirm-dialog
    h2 Удаление книги
        p Вы уверены, что хотите удалить эту книгу?
        .buttons
            button(type="button" class="confirm-button") Да
            button(type="button" class="cancel-button") Отмена