.sort-container
    h3.sort-header Фильтровать по

    select.sort-select(id="sort-select")
        option(value='default') Умолчанию
        option(value='returnDate') Дата возврата
        option(value='availability') Наличие
        option(value='releaseYear') Год выпуска
        option(value='overdue') Просрочен
