.message-card {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;

  margin-bottom: 10px;
  background: #aaa;
}

.message-card.align-right {
  margin-left: auto;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.message-body {
  margin-top: 10px;
  font-size: 24px;
  line-height: 1.5;
  word-wrap: break-word;
}

.date-created {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  margin-left: 100px;
}
